include MANIFEST.in

# include setup.py

recursive-include src *.pyx

recursive-exclude src *.c
recursive-exclude src *.cpp

prune dist
prune build
prune *.egg-info
prune __pycache__
prune .pytest_cache
prune .ruff_cache
