# MANIFEST.in instructs how to fill the sdist archive

graft tests

recursive-include pictures *.png
include MANIFEST.in

exclude .gitignore
exclude .gitattributes

recursive-exclude tests *.pyc
recursive-exclude tests/__pycache__ *
recursive-exclude .pytest_cache *

prune .git
prune .github
prune build
prune dist
prune .venv

global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.egg-info
global-exclude .coverage
global-exclude .env
